<h1 align="center">Listing All Categories</h1>

<div class="container">
	<div class="flickr_pagination">  
	<%= will_paginate @categories, :container => false %>
	</div>
	
		
			<% @categories.each do |category| %>
				<div class= "shadow p-3 mb-3 rounded">
					<div class = "form-group row justify-content-center">
						<div class="category-title">
							<%= link_to "#{category.name}", category_path(category) %>
						</div>
					</div>
				</div>
			<% end %>
		
	
	<div class="flickr_pagination">  
	<%= will_paginate @categories, :container => false %>
	</div>
</div>